.ant-dropdown {
  .ant-menu-item-selected {
    background: rgb(236, 235, 235) !important !important;
  }
  .ant-menu {
    .ant-menu-item {
      height: 100%;
      border-top: 1px solid #e54530;
      border-bottom: 1px solid #e54530;
      padding: 12px 6px;
      a {
        margin: 0;
        text-decoration: none;
      }

      p {
        margin: 0;
        line-height: 1;
        color: black;
        font-weight: 550;
      }

      &:focus {
        border: none;
        background: rgb(236, 235, 235) !important;
      }
    }
  }
}

.visited {
  background: rgb(236, 235, 235);
}
