.Login {
  position: relative;
  min-height: 800px;

  .loginBox {
    width: 50%;
    margin: 0 auto;

    .welcomText {
      h3 {
        font-weight: 700;
        font-size: 35px;
        span {
          font-weight: 600;
          font-size: 16px;
          color: #ff3115;
        }
      }
    }

    .dropDown {
      display: block;
      margin-bottom: 12px;
      color: rgba(0, 0, 0, 0.65);
      font-size: 14px;
      border: 1px solid #d9d9d9;
      border-radius: 2px;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;

      div,
      span {
        border: none !important;
        outline: none !important;
        box-shadow: none !important;
        &:hover {
          border: none !important;
          outline: none !important;
          box-shadow: none !important;
        }

        &:focus {
          border: none;
          outline: none !important;
          box-shadow: none !important;
        }
      }
    }

    .LoginForm {
      label {
        margin-bottom: 0.1rem;
      }

      .formItem {
        margin-bottom: 10px !important;
      }

      .inputs {
        &:hover {
          color: #ff3115;
          border: 1px solid #ff3115;
        }
        &:focus {
          border: 1px solid #ff3115;
          outline: none;
          box-shadow: none;
        }
      }

      .subBtn {
        background-color: #ff3115;
        color: #ffff;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        &:hover {
          background-color: #ffff;
          color: #ff3115;
          border: 1px solid #ff3115;
        }

        &:focus {
          border: 1px solid #ff3115;
        }
      }
    }

    .bottomText {
      p {
        margin: 0;
        color: #cdcdcd;
        a {
          color: #ff3115;
        }
      }
    }
  }
}
